@media screen and (max-width: 767px) {
	.foogallery-polaroid li:nth-child(n+5) {
		display:none;
	}
}

ul.foogallery-polaroid li {
	display: inline;
}

ul.foogallery-polaroid a {
	background: #fff;
	display: inline;
	float: left;
	margin: 0 0 27px 30px;
	width: auto;
	padding: 10px 10px 15px;
	text-align: center;
	font-family: "Marker Felt",sans-serif;
	text-decoration: none;
	color: #333;
	font-size: 18px;
	-webkit-box-shadow: 0 3px 6px rgba(0,0,0,.25);
	-moz-box-shadow: 0 3px 6px rgba(0,0,0,.25);
	-webkit-transform: rotate(-2deg);
	-webkit-transition: -webkit-transform .15s linear;
	-moz-transform: rotate(-2deg);
}

ul.foogallery-polaroid li {
	padding-left: 0;
}

@media screen and (max-width: 768px) {
	ul.foogallery-polaroid li a {
		margin-left:0;
	}
}

ul.foogallery-polaroid img {
	display: block;
	width: 190px;
	margin-bottom: 12px;
}

ul.foogallery-polaroid a:after {
	content: attr(title);
}

ul.foogallery-polaroid li:nth-child(even) a {
	-webkit-transform: rotate(2deg);
	-moz-transform: rotate(2deg);
}

ul.foogallery-polaroid li:nth-child(3n) a {
	-webkit-transform: none;
	position: relative;
	top: -5px;
	-moz-transform: none;
}

ul.foogallery-polaroid li:nth-child(5n) a {
	-webkit-transform: rotate(5deg);
	position: relative;
	right: 5px;
	-moz-transform: rotate(5deg);
}

ul.foogallery-polaroid li:nth-child(8n) a {
	position: relative;
	right: 5px;
	top: 8px;
}

ul.foogallery-polaroid li:nth-child(11n) a {
	position: relative;
	left: -5px;
	top: 3px;
}

ul.foogallery-polaroid li.messy a {
	margin-top: -400px;
	position: relative;
	left: 160px;
}

ul.foogallery-polaroid li a:hover {
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-webkit-box-shadow: 0 3px 6px rgba(0,0,0,.5);
	-moz-box-shadow: 0 3px 6px rgba(0,0,0,.5);
	position: relative;
	z-index: 5;
}